# Ignore node_modules directory
node_modules/

# Ignore logs and debugging files
logs/
*.log
*.log.*
.log

# Ignore build artifacts and output directories
dist/
build/
out/
coverage/

# Ignore environment-specific files
.env
.env.*

# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-*
*.swp
